# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic / db artifacts
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db